/*Campaign Regular

font-family: campaign, sans-serif;

font-weight: 400;

font-style: normal;


Campaign Italic

font-family: campaign, sans-serif;

font-weight: 400;

font-style: italic;


Campaign Bold

font-family: campaign, sans-serif;

font-weight: 700;

font-style: normal;


Campaign Bold Italic

font-family: campaign, sans-serif;

font-weight: 700;

font-style: italic;

*/

*{
	margin: 0%;
	border: 0%;
}

.logo{
	z-index: 1000;
}

.main_image_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

}

.logo_half{
  width: 50vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  z-index: 100;
}


.phone_half{
  width: 50vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  z-index: 100;
}

.bg_img{
  width: 100vw;
  height: 100vh;
}

.logo_img{
	z-index: 100;
	position: absolute;
	float: left;
  -webkit-transform: translate(45%, 45%);
  -ms-transform: translate(45%, 45%);


}

.logo_text{
	z-index: 100;
	position: absolute;
	font-family: campaign, sans-serif;
font-weight: 200;

	color: white;
	width: 40vw;
	-webkit-transform: translate(45%, 45%);
  -ms-transform: translate(45%, 45%);


}